<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vcmsa.projects.pocketplanpoe">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketPlanPOE"
        tools:targetApi="31">

        <!-- Main launcher activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Optional: Keep this if you still use MainActivity -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- Add these new activities -->

        <activity android:name=".ExpenseEntryActivity" />
        <activity android:name=".GoalActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".CategorySummaryActivity" />
        <activity android:name=".RealTimeGraphActivity" />
        <activity android:name=".GoalsActivity" />

    </application>

</manifest>
